 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

 body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: end;
 }

.charts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chart-container {
  margin: 4rem;
}

.title {
  text-align: center;
  color: #333;
}

.horizontal-line {
  border-top: 1px solid lightgray;
  margin: 0 1rem;
}

select {
  width: 140px;
  height: 25px;
  margin-right: 1rem;
  background-color: #eee;
}